@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutOfficer.cshtml";
}

<h1 style="color:green"> Welcome to Assure Insurance Services.</h1>
<div class="container">
    <div class="row">
        <br />
        <div class="col-md-6">
            <br />

            <p>
                Assure Insurance Services (AIS), Agency Inc. is a fully licensed insurance
                agency that specializes in providing employers and individuals with the best
                insurance plans available.
            </p>
            <p>
                Our competitive rates, years of experience and superior
                customer support makes AIS an excellent choice when it comes to developing and implementing a comprehensive insurance plan!
            </p>
        </div>

        <div class="col-md-5">
            <img src="~/images/home_client.jpg" height="400" width="400" />
        </div>
        <div class="col-md-1"> </div>
    </div>
</div>
