@model AutoClaim.Models.Policy
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<div>
    <table>
        <td>
            <h3>
                <p class="font-italic">
                    The staff at Assured were great to work with.They assured me they had worked on all makes and models.
                    They also took the time to keep me informed as to their repair process.After getting a chance to look at their work in the noon sun all I can say is WOW did this just leave the factory?
                    There are 2 specks of dust that settled in the clear coat but they can be buffed out in seconds.
                    The paint job is so well blended it's invisible and very well matches to the rest of the car with its 4 year old paint.
                    The staff at Assured were great to work with.They assured me they had worked on all makes and models.
                    They also took the time to keep me informed as to their repair process.After getting a chance to look at their work in the noon sun all I can say is WOW did this just leave the factory?
                    There are 2 specks of dust that settled in the clear coat but they can be buffed out in seconds.
                    The paint job is so well blended it's invisible and very well matches to the rest of the car with its 4 year old paint.

                </p>
            </h3>
        </td>
        <td>
            <img src="~/Images/download (1).jpg" class="rounded float-right" alt="..." />
        </td>
        </tr>
    </table>
</div>



